.navbar-nav {
    flex-direction: row;
}

.nav-item{
  padding-left: 20px;
}


.headerSection{
  height: 100vh;
 min-height: 500px;
  background: url('./img/guitarBG.jpg') ;
  background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }

.titlename{
  padding-top: 100px;
  padding-left: 500px;
}
