

.navbar-nav {
    flex-direction: row;

}

.nav-item:not(:first-child){
  padding-left: 40px;

}

.navbar{
  opacity: 0.5;
}

.headerSection{
  height: 100vh;
  width: 100%;
  background: url('./img/guitarBG.jpg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

.headerdiv{
  height: 300px;
  margin-bottom:10px;
}
.top{
  width: 95%;
  text-align: center;
  padding-top: 300px;

}

.titlename{


  color: #fff;
  opacity: 0.5;
  font-family: 'Major Mono Display', monospace;

}


.subtitle{

    color: #fff;

    font-size: 25px;
    opacity: 0.7;

}

/* Animation */
.anim-typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
   white-space: nowrap; /* Keeps the content on a single line */
   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
   letter-spacing: .15em; /* Adjust as needed */
   animation:
     typing 2.5s steps(40, end),
     blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
}
